body {
    color: #1a1a1a !important;
    font-family: 'Inter', Arial, sans-serif !important;
    background: transparent !important;
    position: relative !important;

}

h4, h5 {
    font-weight: 700 !important;
    color: #0A2A43 !important;
}
.fondo-moderno {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important; 
    height: 100% !important;
    z-index: -1 !important;
    background: linear-gradient(135deg, #ffffff 0%, #ccdaff 40%, #ffffff 100%) !important;
    overflow: hidden !important;
}

.fondo-moderno::before {
    content: "" !important;
    position: absolute !important;
    width: 600px !important;
    height: 600px !important;
    top: 10% !important;
    left: 20% !important;

    background: radial-gradient(
        circle,
        rgba(123, 185, 255, 0.55) 0%,
        rgba(146, 221, 255, 0.1) 45%,
        rgba(146, 197, 255, 0) 70% 
    ) !important;
    filter: blur(120px) !important;
}