
h1{
	color:#0A2A43;
}
main{
  margin: 100px;
}

footer {
    background-color: #0A2A43 !important;
    color: #dbe1ef !important;
    border-top: 1px solid #dbe1ef !important;
    text-align: center;
    height: 50px;
    align-content: center;
}