h1 {
  color: #0A2A43;
}

main {
  margin: 100px;
}

footer {
  background-color: #0A2A43 !important;
  color: #dbe1ef !important;
  border-top: 1px solid #dbe1ef !important;
  text-align: center;
  height: 50px;
  align-content: center;
}

/* Estilo de los botones */
.btn-glass {
  background-color: white;
  color: black;
  /* Texto negro */
  border: 1px solid rgba(0, 0, 0, 0.2);
  /* Sin borde */
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  /* Transición suave */
}

.btn-glass:hover {
  background-color: #5893df;
  /* Azul pastel al pasar el mouse */
  color: black;
  /* Texto negro */
}