<div th:fragment="sidebar" id="sidebarMenu">
    <button class="btn btn-light" id="menuCerrar">=</button>
    <h5 class="mb-3">NavegaciOn</h5>
    <ul class="list-unstyled">
        <li><a href="notificaciones.html" class="d-block mb-2">Notificaciones</a></li>
        <li><a href="vista-entradas-recitales.html" class="d-block mb-2">Mis entradas</a></li>
        <li><a href="comunidades.html" class="d-block mb-2">Comunidades</a></li>
        <li><a href="resitalesAsistidos.html" class="d-block mb-2">Recitales Asistidos</a></li>
        <li><a href="perfil.html" class="d-block mb-2">Mi perfil</a></li>
    </ul>
    <hr>
    <p><strong>Tipo de plan:</strong> Premium</p>
    <a th:href="@{/cerrar-sesion}" class="btn btn-danger w-100 mt-3">Cerrar sesión</a>

</div>