<div th:fragment="sidebar" id="sidebarMenu">
    <div class="col-4 text-start" style="width: 118px;">
                <button class="btn btn-light" 
                    id="menuCerrar" 
                    style="background-color: #0A2A43; color: white; border-radius: 8px;">
                    <i class="bi bi-list" style="font-size: 1.6rem;"></i>
                </button>
     </div>
    <h5 class="mb-3">Navegación</h5>
    <ul class="list-unstyled">

        <li><a th:href="@{/calendario}" class="d-block mb-2">Calendario</a></li>
        <li><a th:href="@{/vista-entradas-recitales}" class="d-block mb-2">Mis entradas</a></li>
        <li><a th:href="@{/comunidades}" class="d-block mb-2">Comunidades</a></li>

    </ul>
    <hr>
    <p><strong>Tipo de plan: </strong>
        <span th:if="${usuario != null}" th:text="${usuario.esPremium} ? 'Premium' : 'Gratis'"></span>
        <span th:if="${usuario == null}">Gratis</span>
    </p>
    <a th:href="@{/cerrar-sesion}" class="btn btn-danger w-100 mt-3">Cerrar sesión</a>
</div>