<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificaciones</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <link rel="stylesheet" th:href="@{/css/fondo.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/notificaciones.css}" />


</head>

<body class="bg-white">

    <div class="fondo-moderno"></div>

    <!-- HEADER -->
    <div th:replace="fragments/header :: header"></div>

    <!-- SIDEBAR -->
    <div id="sidebarMenu" th:replace="fragments/sidebar :: sidebar"></div>

    <!-- MAIN -->
    <main class="container my-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h4>Notificaciones</h4>
            <form th:action="@{/notificaciones/marcar-leidas}" method="post">
                <button type="submit" class="btn btn-light border">Marcar todas como leídas</button>
            </form>
        </div>

        <!-- Si no hay notificaciones -->
        <div th:if="${#lists.isEmpty(notificaciones)}" class="text-muted">
            No hay notificaciones nuevas.
        </div>

        <!-- Listado de notificaciones -->
        <div th:each="notificacion : ${notificaciones}">
            <div class="notification-card d-flex justify-content-between align-items-center "
                th:classappend="${!notificacion.vista} ? ' borde-azul' : ' ocultar'">

                <div class="d-flex align-items-center">
                    <div class="notification-icon me-3">
                        <i class="bi bi-bell"></i>
                    </div>
                    <div>
                        <strong th:text="${notificacion.nombreNotificacion}">Título</strong><br>
                        <small th:text="${notificacion.descripcionNotificacion}">Mensaje</small>

                        <div th:class="${#strings.equalsIgnoreCase(notificacion.nombreNotificacion.trim(), '¡Nuevo codigo de descuento!')} 
                                ? 'ocultar' 
                                : ''">
                            <a th:href="@{${notificacion.link}}">Ver aquí</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>



    </main>

    <!-- FOOTER -->
    <div th:replace="fragments/footer :: footer"></div>

    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        // Toggle sidebar
        document.getElementById("menuToggle").addEventListener("click", function () {
            document.getElementById("sidebarMenu").classList.toggle("active");
        });
        document.getElementById("menuCerrar").addEventListener("click", function () {
            document.getElementById("sidebarMenu").classList.remove("active");
        });
    </script>
</body>

</html>